.nav_lin {
    font-weight: 700 !important;
    /* margin-top: 10px; */
    color: white !important;
}

.nav_lin:hover {

    /* color: rgb(29, 29, 29) !important; */
    color: rgb(184, 183, 183) !important;
}

.navbar-light .navbar-nav .nav-link {
    color: white !important;
}

.btn_nav {
    padding: 10px 27px !important;
    /* border-radius: 50; */
    border-radius: 50px !important;
    font-weight: 700;
    color: white !important;
    line-height: 50px;
    margin-right: 27px !important;
    background-color: #212529 !important;
    margin-top: -10px;
}

.navbar-dark .navbar-toggler {
    color: rgba(255, 255, 255, .55);
    border-color: rgba(255, 255, 255, .1);
}